/* Louis CSS */



@keyframes slide-left {
  0% {
    max-width: 0px;
  }
  100% {
    max-width: 50%;
  }
}

@keyframes slide-right {
  0% {
    max-width: 100%;
  }
  100% {
    max-width: 0px;
  }
}

@keyframes slide-down {
  0% {
    height: 0px;
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0%);
    height: 100%; 
    opacity: 1;
  }
}

@keyframes slide-up-out {
  0% {
    height: 0px;
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-20%);
    height: 100%; 
    opacity: 0;
  }
}

@keyframes slide-up {
  0% {
    
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(30%);
    opacity: 0;
    
  }
}




@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}






/*Margin bottom takes priority*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:400;
}
html, body{
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
body {
    background-color: #fffcf4;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#burger{
  display: none;
}
#settingsCog, #settingsCogSecond{
    display:flex;
    height: auto;
    align-self: center;
    position: absolute;
    width: 10%;
    justify-content: center;
    top: 24px;
    right:0px;
    border: none;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.0);
}
#settingsCog img, #settingsCogSecond img{
  cursor: pointer;
  width:37px;
}
#settingsCogSecond{
  display:none;
}
.divider{
  opacity: 0.1;
}
#LoginSection {
    display:flex;
    height: auto;
    font-size: 20px;
    align-self: center;
    position: absolute;
    right: 10%;
}
#LoginSection input{
    font-size: 15px;
    padding: 4px;
    margin-right: 10px;
  }
  #LoginSection button{
    padding: 3px;
    font-size: 15px;
    background-color: #f4ece3;
    margin-bottom: 0;
    border-radius: 7px;
    cursor: pointer;
    margin: 10px;
  }
a {
    color: rgb(184, 184, 184);
    background-color: transparent;
    text-decoration: none;
  }
  
#topnav, #settings {
    overflow: hidden;
    display: flex;
    visibility: visible;
    font-size: 20px;
    padding: 5px 10px;
    align-self: center;
    justify-content: center;
    
}

    #topnav li{
        display: inline-block;
        margin-top: 5px;
        padding: 0px 10px;
    }
    #settings li {
      width: auto;
      vertical-align:auto;
      display: inline-block;
      margin-right: 50px;
      margin-bottom: -30px;
    }
    
    

        #topnav li a {
            list-style: none;
            text-decoration: none;
            color: #000000;
            /*background-color: rgba(0,0,0, 0.2);*/
            padding: 5px 10px;
            border-radius: 10px;
        }

    #topnav a:hover {
        color: black;
        transition: all 0.3s ease 0s;
    }

.active {
    text-decoration: underline;
}


/* -- Used https://www.w3schools.com/howto/howto_css_switch.asp -- */

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 27px;
  margin-left: 5px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #ffc686;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ffc686;
}
input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}
.slider.round {
  border-radius: 5px;
}

.slider.round:before {
  border-radius: 5px;
}

/* ------End of w3Schools------ */



#container {
    background-color: #fcf1c8;
    margin: 10px 10px 0px 10px;
    border-radius: 10px;
    width: 90%;
    display: flex;
    padding: 20px 0px;
    outline-style: solid;
    outline-width: 2px;
    /*Using CSS box shadow generator*/
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
#containerTwo {
  height:auto;
  background-color: #FCF1C8;
  margin: 10px 10px 40px 10px;
  border-radius: 10px;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  outline-style: solid;
  outline-width: 2px;
  /*Using CSS box shadow generator*/
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  animation-duration: 0.6s;
}
#containerThree{
  display: none;
  width:0%;
  animation-duration: 0.6s;
}
#donate{
  animation-duration: 0.6s;
  max-height: auto;
  margin-bottom: 20px;
}
#Main{
    font-size: 25px;
    width: 100%;
    text-align: center;
    
    flex: 1;
}
#Main select, #selectAdmin{
    padding: 10px;
    width: 40%;
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
    cursor: pointer;
}

#containerTwo select{
  margin: auto;
  height:27px;
  width: 70px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.Dropdown, #dropdownAdmin{
    margin-bottom: 20px;
    background-color:rgba(0, 0, 0, 0.0);
    padding: 5px;
    border: none;
    cursor: pointer;
}
.Dropdown img, #dropdownAdmin img{
  width:16px;
}
#map{
  animation-duration: 0.6s;
  
}
#map img{
  width: 50%;
  margin-bottom: 40px;
}
#signUp {
  margin-bottom: 40px;
  display: block;
  animation-duration: 0.6s;
}



hr.solid {
    border-top: 3px solid #000000;
    width: 50%;
    margin: 40px auto;
    z-index: 1;
  }
#Title, #myBusinessTitle, #titleIndex{
    font-size: 40px;
    font-weight: 600;
    padding-top: 40px;
}
#titleIndex{
  text-decoration: underline;
}
#Information {
    font-size: 25px;
    margin-bottom: 40px;
    padding: 0px 20px;
}


#isBusiness {
  margin: 10px 0px 30px 0px;
}
input, #isBusiness {
  padding: 10px;
  margin: 10px 0px;
  font-size: 20px;
  max-width: 80%;
}
#businessName, #postcode {
  display:none;
}


#stock {
    display:block;
    background-color: #fef8e5;
    animation-duration: 0.6s;
    margin: 00px 10px 40px 10px;
    border-radius: 10px;
    padding: 10px 0px;
    outline-style: solid;
    outline-width: 2px;
    height:auto;
  }
  
  .row {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 10px;
    overflow: hidden; 
    margin: 10px 10px;
    /*Using CSS box shadow generator*/
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  
  .itemName {
    font-size: 25px;
    font-weight: 600;
  }
  
  .nameAndDesc{
    margin-left: 40px;
    flex-grow: 1;
    text-align: left;
  }

  .itemNameHead {
    margin-left: 40px;
    flex-grow: 1;
    text-align: left;
  }
  
  .itemDescription {
    margin-top: 10px;
  }
  
  .expiryAndQuant {
    display: flex;
    background-color: #fef8e5;
    flex: 0 0 auto;
    outline-style: solid;
    outline-width: 2px;
  }
  
  .expiryHead, .quantityHead {
    display: flex;
    flex: 0 0 auto;
    margin-left: 0;
    margin-right: 14px;
  }
  
  .expiry,
  .quantity {
    flex: 1; 
    padding: 40px 15px; 
  }
  .expiry{
    border-right: 2px solid #000000;
  }

  .Remove {
    background-color:rgba(0, 0, 0, 0.0);
    padding: 5px;
    border: none;
    margin: auto 16px;
    cursor: pointer;
  }
  .removeHead {
    margin: auto 7px auto -7px;

  }

  #rowHeads{
    display: flex;
  align-items: flex-end; 
  overflow: hidden; 
  margin-bottom: 5px;
  }
  
  #AddStock{
    display:block;
    margin-top: 40px;
    height:auto;
    animation-duration: 0.6s;

  }

  .form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .form-group label {
    text-align: right;
    margin-right: 10px;
    width: 150px; 
  }
  
  .form-group input,
  .form-group textarea {
    flex-grow: 1;
    padding: 10px;
    font-size: 20px;
    width: 100%; 
    max-width: 50%; 
  }
  
  #AddStockContainer{
    display: block;
    margin:0px;
    animation-duration: 0.6s;
  }

  button{
    font-size: 20px;
    background-color: #f4ece3;
    padding: 5px 10px;
    margin-top: 20px;
    border-radius: 7px;
    cursor: pointer;
  }
  #signUpBtn{
    margin-top: 30px;
  }

  #Add {
    margin-bottom: 40px;
    border-radius: 7px;
  }
  .confirmGroup{
    margin-bottom: 60px;
    width: fit-content;
    padding-bottom: 30px;
    border-style: solid;
    /*Using CSS box shadow generator*/
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  #confirmations {
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;  
    animation-duration: 0.6s;  
  }

  #EmailAdmin{
    font-style: oblique
  }
  #confirmations button{
    margin: 0px 20px
  }
  #adminBusinesses{
    animation-duration: 0.6s; 
  }
  #Footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fcf1c8;
    border-top: solid;
    padding: 20px 0px;
    flex-shrink: 0;
    margin-top: auto;
   
  }
  #footerImgs{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  #Footer img{
    width:40px;
    height: auto;
    margin: 0px 30px;
  }
  #phoneLogo {
    display:none;
  }
  #desktopLogo{
    display:initial;
    width:40px; 
    height:auto; 
    margin-left: 20px;
  }
  
  

/*Phone CSS*/

@media (max-width:920px){
  #Main{
    font-size: 20px;
    margin: 0px 0px;
  }
  #myBusinessTitle{
    font-size: 30px;
    padding-top: 90px;
    margin: 0px 5px;
  }
  #Title{
    font-size: 30px;
    margin: 0px 5px;
    padding-top:30px;
  }
  #Information {
    font-size: 20px;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}
.confirmGroup #Information{
  padding: 0px;
}

  #container {
    width: 50%;
    align-items: left;
    margin: 0px 0px;
    border-radius: 0px 0px 0px 10px;
    position: fixed;
    display: none;
    height: 500px;
    right: 0px;
    z-index: 2;
    animation-duration: 0.6s;
  }
  #containerTwo {
    width: 50%;
    z-index: 2;
    align-items: left;
    margin: 0px 0px;
    border-radius: 0px 0px 0px 10px;
    box-shadow: none;
    position: fixed;
    display: none;
    height: auto;
    right: 0px;
    animation-duration: 0.6s;
  }
  #containerThree{
    width:100%;
    display: block;
    position: fixed;
    text-align: center;
    background-color: #fcf1c8;
    border-radius: 0px;
    font-size: 20px;
    padding: 20px 0px;
    outline-style: solid;
    outline-width: 2px;
    z-index: 1;
    /*Using CSS box shadow generator*/
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  }
  #phoneLogo{
    display:block;
    position: fixed;
    z-index: 3;
    margin: 10px;
    top: 0px;
    left: 0;
    width: 40px;
    height: auto;
  }
  #desktopLogo {
    display:none;
  }

  #containerTwo select{
    margin-top: 10px;
    height:40px;
    width: 70px;
    font-size: 16px;
    text-align: center;
  }
  #settings li {
    padding: 30px;
    text-align: center;
    display: block;
    margin-top: 20px;
    margin-right: 0px;
}
#settings ul{
  width: 100%;
}
#settings{
  justify-content: normal;
  
}
  #settingsCog, #settingsCogSecond{
    display:block;
    height: auto;
    right: auto;
    top:8px;
    background-color: rgba(0, 0, 0, 0.0);
}
#settingsCogSecond {
  display:none;
}
#map img{
  width: 95%;
}
#Main select{
  margin-top: 100px;
}

#Main #selectAdmin{
  margin-top: 20px;
}

  #topnav {
    font-size: 20px;
    margin: 30px auto 30px auto;
    justify-content: center;
  }

  #topnav li {
    display: block;
    padding: 10px 10px;
    margin: 5px auto;
    border-radius: 5px;
    text-align: center;
  }

  #LoginSection {
    font-size: 10px;
    margin: 10px auto;
    display: block;
    right:auto;
    left: auto;
    position: relative;

  }

  #LoginSection input {
    font-size: 15px;
    display: block;
    padding: 10px;
    margin: 0px auto;
    text-align: center;
    max-width: 200px;
  }

  #LoginSection button {
    font-size: 15px;
    display: block;
    padding: 5px;
    margin: 5px auto;
    text-align: center;
  }

  /* w3 schools edited code */
    
  .switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 40px;
    margin-top: 15px;
    margin-left: 5px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 32px;
    width: 30px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(62px);
    -ms-transform: translateX(62px);
    transform: translateX(62px);
  }

  /* code edited from w3 Schools */
  
  #burger {
    display:block;
    position: fixed;
    z-index: 3;
    margin: 10px;
    top: 0px;
    right: 0;
    width: 50px;
    height: 50px;
    font-size: 30px;
    border:none;
    background-color: rgba(0, 0, 0, 0.0);
    cursor: pointer;
  }
  #burger img{
    width: 30px;
  }

  #stock {
    display:block;
    margin: 00px 0px 40px 0px;
    padding: 5px 0px 0px 0px;
    border-radius: 0px;
    animation-duration: 0.6s;
  }
  
  .row {
    margin: 0px 0px 5px 0px;
    border-radius: 0px;
  }
  
  .itemName {
    font-size: 20px;
  }
  
  .nameAndDesc {
    margin-left: 10px;
    padding: 10px 0px;
  }
  
  .itemDescription {
    margin-top: 10px;
  }
  
  .Remove {
    padding:0px 15px 0px 15px;
  }

  

  .form-group {
   font-size: 15px;
  }

  .expiry,
  .quantity {
    flex: 1; 
    padding: 90px 10px; 
  }
  
  .form-group label {
    flex-shrink: 0;
    text-align: right;
    margin-right: 10px;
    width: 120px; 
  }
  
  .form-group input,
  .form-group textarea {
    flex-grow: 1;
    padding: 10px 5px;
    font-size: 15px;
    width:100%; 
    max-width: 40%; 
  }

  .removeHead {
    margin:auto 15px auto 10px;
  }

  #rowHeads{
    display: flex;
  align-items: flex-end; 
  border-radius: 10px;
  overflow: hidden; 
  margin-bottom: 5px;
  }

  .expiryHead, .quantityHead {
    display: flex;
    flex: 0 0 auto;
    margin-left: 5px;
    margin-right: 5px;
  }

  .itemNameHead {
    margin-left: 20px;
    flex-grow: 1;
    text-align: left;
  }

  .Dropdown img{
    width:17px;
  }
  
  .confirmGroup {
    border-left: none;
    border-right: none;
  }

  #isBusiness {
    transform: scale(2)
    translateX(5px);
  }
  #titleIndex{
    padding-top: 100px;
  }
  #dropdownAdmin{
    padding-top: 100px;
  }
  #settingsCogSecond {
    display:block;
  }

}
  

/*Write name and css*/