doctype html
head
  title Donate
  link(rel='stylesheet' href='stylesheets/style.css')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  script(src='javascripts/menu.js')
  script(src='javascripts/donate.js' defer)
button#burger(onclick='toggleMenu()')
  img(src='images/BurgerMenuIcon.png' style='width:30px')
#container
  #topnav
    nav
      ul
        li
          a(href='/') Home
        li
          a(href='/food') Food
        li.active
          a(href='/donate') Donate
        if loggedIn && accountType == 'business'
          li
            a(href='/mybusiness') My Business
        if loggedIn && accountType == 'admin'
          li
            a(href='/admin') Admin
  #LoginSection
    if ! loggedIn 
      form(action='/login' method='post')
        input#Username(type='text' name='username' placeholder='Username' required='')
        input#Password(type='password' name = 'password' placeholder='Password' required='')
        button#login(type='submit') Login
        br
    if loggedIn
      a(href='/logout') Logout
  button#settingsCog(onclick='toggleSettings()')
    img(src='images/SettingCogImage.png' style='width:37px')
#containerThree
  | Donate
#containerTwo
  #settings
    ul
      li
        | Dyslexic view 
        label.switch
          input(type='checkbox')
          span.slider.round
      li
        | High contrast view 
        label.switch
          input(type='checkbox')
          span.slider.round
      li
        | Language 
        select#dropdown
          option(value='PlaceA') Eng
          option(value='PlaceB') Fre
          option(value='PlaceC') Jam
          option(value='PlaceD') Spa
#Main
  select#foodDropDown(name='FoodBanks')
    option(value="null") -
    for foodPlace in foodPlaces
      option(value=foodPlace.place_name) #{foodPlace.place_name}

  br
  | Map 
  button.Dropdown(onclick='toggleMap()')
    img(src='images/BlackTriangle.png' style='width:9px')
  #map
    //
      Using logic of
      <BUTTON ID="Show" VALUE="Click to show" ONCLICK=" document.getElementById('Show').style.display='none'; document.getElementById('Hide').style.display='block'; document.getElementById('SectionName').style.display='block'">
      <BUTTON ID="Hide" VALUE="Click to hide" ONCLICK=" document.getElementById('Show').style.display='block'; document.getElementById('Hide').style.display='none'; document.getElementById('SectionName').style.display='none'">
      <DIV ID="'SectionName'" STYLE="display:none">Text to be shown and hidden</DIV>
    img(src='images/map.png')
  div(style='opacity: 0.1;')
    hr.solid
  | Donate 
  button.Dropdown(onclick='toggleDonate()')
    img(src='images/BlackTriangle.png' style='width:9px')
  br
  #donate(style='display:block')
    form#DonateForm
      .form-group
          label(for='ItemName') Item Name:
          input#ItemName(type='text' placeholder='Name' minlength='2' maxlength='20' size='20' required='')
      .form-group
          label(for='ItemDesc') Item Description:
          textarea#ItemDesc(type='text' placeholder='Description' size='50' maxlength='200' required='')
      .form-group
          label(for='ExpiryDate') Expiry Date:
          input#ExpiryDate(type='date' required='')
      .form-group
          label(for='Quantity') Quantity:
          input#Quantity(type='number' min='0' placeholder='0' max='999' required='')
      button#Add(type='submit') Add

  #stock
    #rowHeads
      .itemNameHead Item
      .expiryHead Expiry date
      .quantityHead Qty
      .removeHead Delete
  button#Submit  Submit 
