doctype html
head
  link(rel='stylesheet' href='stylesheets/style.css')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  script(src='javascripts/menu.js')
button#burger(onclick='toggleMenu()')
  img(src='images/BurgerMenuIcon.png' style='width:30px')
#container
  #topnav
    nav
      ul
        li.active
          a(href='/') Home
        li
          a(href='/food') Food
        li
          a(href='/donate') Donate
        if loggedIn && accountType == 'business'
          li
            a(href='/mybusiness') My Business
        if loggedIn && accountType == 'admin'
          li
            a(href='/admin') Admin
  #LoginSection
    if ! loggedIn 
      form(action='/login' method='post')
        input#Username(type='text' name='username' placeholder='Username' required='')
        br
        input#Password(type='password' name = 'password' placeholder='Password' required='')
        button#login(type='submit') Login
        br
    if loggedIn
      a(href='/logout') Logout
  button#settingsCog(onclick='toggleSettings()')
    img(src='images/SettingCogImage.png' style='width:37px')
#containerThree
  | Food
#containerTwo
  #settings
    ul
      li
        | Dyslexic view 
        label.switch
          input(type='checkbox')
          span.slider.round
      li
        | High contrast view 
        label.switch
          input(type='checkbox')
          span.slider.round
      li
        | Language 
        select#dropdown
          option(value='PlaceA') Eng
          option(value='PlaceB') Fre
          option(value='PlaceC') Jam
          option(value='PlaceD') Spa
#Main
  input#UsernameSignUp(type='text' placeholder='Username')
  br
  input#PasswordSignUp(type='password' placeholder='Password')
  br
  br
  br
  button#signUpDefault Signup as default
  br
  button#signUpBusiness Signup as Business
  br
  button#signUpAdmin Signup as admin
  br
  |     I am __, with password __ and I have __ permissions
