doctype html
head
  title Home
  link(rel='stylesheet' href='stylesheets/style.css')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  script(src='javascripts/menu.js')
button#burger(onclick='toggleMenu()' role='Reveal Menu')
  img(src='images/BurgerMenuIcon.png' style='width:30px' alt ='3 individual lines alignd vertically')
#container
  img#desktopLogo(src='images/Logo.png')
  #topnav(role='navigation')
    nav
      ul
        li.active
          a(href='/') Home
        li
          a(href='/food') Food
        li
          a(href='/donate') Donate
        if loggedIn && accountType == 'business'
          li
            a(href='/mybusiness') My Business
        if loggedIn && accountType == 'admin'
          li
            a(href='/admin') Admin
  if ! loggedIn 
    form(action='/login' method='post' id='LoginSection' role='login')
      #inputContainer
        input#Username(type='text' name='username' placeholder='Username' required='')
        input#Password(type='password' name = 'password' placeholder='Password' required='')
      button#login(type='submit') Login
      br
  if loggedIn
    #LoginSection(role='logout')
      button 
        a(href='/logout', style='all:unset') Logout
  button#settingsCog(onclick='toggleSettings()' role='Reveal Settings')
    img(src='images/SettingCogImage.png' style='width:37px' alt='mechanical cog')
img#phoneLogo(src='images/Logo.png')
#containerThree(role='Title of Page')
  | Home
#containerTwo
  #settings(role='Settings')
    ul
      li
        | Dyslexic view
        label.switch
          input#dyslexicView(type='checkbox')
          span.slider.round
      li
        | High contrast view
        label.switch
          input#highContrastView(type='checkbox')
          span.slider.round
      li
        | Language 
        select#languageDropdown(name='Language')
          option(value='Eng') Eng
          option(value='Fre') Fre
          option(value='Jam') Jam
          option(value='Spa') Spa
  button#settingsCogSecond(onclick='toggleSettings()' role='open settings')
    img(src='images/SettingCogImage.png' alt='mechanical cog')
#Main
  #titleIndex(role='Our comany name')
    | Share-a-Plate!
  br
  #Information(role='Company information')
    | Empowering Communities, One Meal at a Time
  |   Map 
  button.Dropdown(onclick='toggleMap()' role='Reveal map')
    img(src='images/BlackTriangle.png' alt='upside down black triangle')
  #map
    img(src='images/map.png')
  .divider
    hr.solid
  if ! loggedIn
    |   SignUp 
    button.Dropdown(onclick='toggleSignUp()' role='reveal Sign Up')
      img(src='images/BlackTriangle.png' alt='upside down black triangle')
    br
    #signUp
      label
        | Are you a business? 
        input#isBusiness(type='checkbox')
      br
      input#firstName(type='text' placeholder='firstName' size='100')
      br
      input#secondName(type='text' placeholder='secondName' size='100')
      br
      input#email(type='text' placeholder='Email' size='100')
      br
      input#usernameSignUp(type='text' placeholder='Username' size='100')
      br
      input#passwordSignUp(type='password' placeholder='Password' size='100')
      br
      input#businessName(type='text' placeholder='businessName' size='100')
      br
      input#businessInfo(type='text' placeholder='businessInfo' size='100')
      br
      input#postcode(type='text' placeholder='postcode' size='100')
      br
      button#signUpBtn Signup
      br
#Footer
  | &copy; Company
  #footerImgs
    img(src='images/Facebook_icon.png')
    img(src='images/Instagram_icon.png')
    img(src='images/Email_icon.png')
