doctype html
head
  title Home
  link(rel='stylesheet' href='stylesheets/style.css')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  script(src='javascripts/menu.js')
  script(src='javascripts/geocode.js')
  link(rel='stylesheet' href='https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css' type='text/css')
  script(src='https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js')
button#burger(onclick='toggleMenu()' role='Reveal Menu')
  img(src='images/BurgerMenuIcon.png' style='width:30px' alt ='3 individual lines alignd vertically')
#container
  img#desktopLogo(src='images/Logo.png')
  #topnav(role='navigation')
    nav
      ul
        li.active
          a(href='/') Home
        li
          a(href='/food') Food
        li
          a(href='/donate') Donate
        if loggedIn && accountType == 'business'
          li
            a(href='/mybusiness') My Business
        if loggedIn && accountType == 'admin'
          li
            a(href='/admin') Admin
  if ! loggedIn 
    form(action='/login' method='post' id='LoginSection' role='login')
      #inputContainer
        input#Username(type='text' name='username' placeholder='Username' required='')
        input#Password(type='password' name = 'password' placeholder='Password' required='')
      button#login(type='submit') Login
      br
  if loggedIn
    #LoginSection(role='logout')
      button 
        a(href='/logout', style='all:unset') Logout
  button#settingsCog(onclick='toggleSettings()' role='Reveal Settings')
    img(src='images/SettingCogImage.png' style='width:37px' alt='mechanical cog')
img#phoneLogo(src='images/Logo.png')
#containerThree(role='Title of Page')
  | Home
#containerTwo
  #settings(role='Settings')
    ul
      li
        | Dyslexic view
        label.switch
          input#dyslexicView(type='checkbox')
          span.slider.round
      li
        | High contrast view
        label.switch
          input#highContrastView(type='checkbox')
          span.slider.round
      li
        | Language 
        select#languageDropdown(name='Language')
          option(value='Eng') Eng
          option(value='Fre') Fre
          option(value='Jam') Jam
          option(value='Spa') Spa
  button#settingsCogSecond(onclick='toggleSettings()' role='open settings')
    img(src='images/SettingCogImage.png' alt='mechanical cog')
#Main
  #titleIndex(role='Our comany name')
    | Share-a-Plate!
  br
  #Information(role='Company information')
    | Empowering Communities, One Meal at a Time
  br
  select#geocoder(onChange='simpleGeocoding(this)')
    option(value="") -
      for foodPlace in foodPlaces
        option(value=foodPlace.place_address title=foodPlace.place_postcode) #{foodPlace.place_name}
  br
  |   Map 
  button.Dropdown(onclick='toggleMap()' role='Reveal map')
    img(src='images/BlackTriangle.png' alt='upside down black triangle')
  #map.olMap(style='height: 100%; width: 50%; display: block; margin-left: auto; margin-right: auto;')
  script(type='text/javascript').
    window.onload(initMap());

    function initMap(){
      map = new ol.Map({
        target: 'map',
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
          })
        ],
        view: new ol.View({
          center: ol.proj.fromLonLat([-4.3129328021312725, 55.861298921351555]),
          minZoom: 14,
          maxZoom: 20,
          zoom: 14
        }),
      });

      map.on('wheel', function (event) {
        if (ol.events.condition.shiftKeyOnly(event) !== true)
          event.browserEvent.preventDefault();
      });
    }

    function addMarker(coord){

      var layer = new ol.layer.Vector({
        source: new ol.source.Vector({
          features: [
            new ol.Feature({

              geometry: new ol.geom.Point(ol.proj.fromLonLat(coord))
            })
          ]
        }),
        style: new ol.style.Style({
          image: new ol.style.Icon({
            anchor: [0.5, 1],
            crossOrigin: 'anonymous',
            src: 'https://docs.maptiler.com/openlayers/default-marker/marker-icon.png',
          })
        })
      });
      map.addLayer(layer);
    }
  script(src="https://cdn.jsdelivr.net/npm/elm-pep@1.0.6/dist/elm-pep.js")
  .divider
    hr.solid
  if ! loggedIn
    |   SignUp 
    button.Dropdown(onclick='toggleSignUp()' role='reveal Sign Up')
      img(src='images/BlackTriangle.png' alt='upside down black triangle')
    br
    #signUp
      label
        | Are you a business? 
    form(action='/register' method='post')
      input#isBusiness(type='checkbox' value='yes' name='isBusiness')
      br
      input#firstName(type='text' name='fName' placeholder='firstName' size='100' required='')
      br
      input#secondName(type='text' name='lName' placeholder='secondName' size='100' required='')
      br
      input#email(type='text' name='email' placeholder='Email' size='100' required='')
      br
      input#usernameSignUp(type='text' name='username' placeholder='Username' size='100' required='')
      br
      input#passwordSignUp(type='password' name='password' placeholder='Password' size='100' required='')
      br
      br
      input#businessName(type='text' name='bName' placeholder='businessName' size='100')
      br
      input#postcode(type='text' name='postcode' placeholder='postcode' size='100')
      br
      input#bAddress(type='text' name='bAddress' placeholder='address' size='100')
      br
      button#signUpBtn(type='submit') Signup
      br
#Footer
  | &copy; Company
  #footerImgs
    img(src='images/Facebook_icon.png')
    img(src='images/Instagram_icon.png')
    img(src='images/Email_icon.png')
