doctype html
head
  title Register
  link(rel='stylesheet' href='stylesheets/style.css')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  script(src='javascripts/menu.js')
button#burger(onclick='toggleMenu()' role='Reveal Menu')
  img(src='images/BurgerMenuIcon.png' style='width:30px' alt ='3 individual lines alignd vertically')
#container
  #topnav(role='navigation')
    nav
      ul
        li
          a(href='/') Home
        li
          a(href='/food') Food
        li
          a(href='/donate') Donate
        if loggedIn && accountType == 'business'
          li
            a(href='/mybusiness') My Business
        if loggedIn && accountType == 'admin'
          li
            a(href='/admin') Admin
  #LoginSection(role='login')
    if ! loggedIn 
      form(action='/login' method='post')
        input#Username(type='text' name='username' placeholder='Username' required='')
        input#Password(type='password' name = 'password' placeholder='Password' required='')
        button#login(type='submit') Login
        br
    if loggedIn
      a(href='/logout') Logout
  button#settingsCog(onclick='toggleSettings()' role='Reveal Settings')
    img(src='images/SettingCogImage.png' style='width:37px' alt='mechanical cog')
#containerThree(role='Title of Page')
  | Register
#containerTwo
  #settings(role='Settings')
    ul
      li
        | Dyslexic view
        label.switch
          input#dyslexicView(type='checkbox')
          span.slider.round
      li
        | High contrast view
        label.switch
          input#highContrastView(type='checkbox')
          span.slider.round
      li
        | Language 
        select#dropdown(name='FoodBanks')
          option(value='PlaceA') Eng
          option(value='PlaceB') Fre
          option(value='PlaceC') Jam
          option(value='PlaceD') Spa
